body {
  font-family: Arial;
  text-align: center;
  background: #0f172a;
  color: white;
}

h1 {
  color: #38bdf8;
}

.wallet, .timer {
  margin: 10px;
  font-size: 18px;
}

.colors button {
  padding: 15px;
  margin: 5px;
  border: none;
  font-size: 16px;
  color: white;
  cursor: pointer;
}

.red { background: red; }
.green { background: green; }
.violet { background: purple; }

.amount input {
  padding: 10px;
  width: 200px;
}

.actions button {
  margin: 10px;
  padding: 10px 20px;
}

ul {
  list-style: none;
  padding: 0;
}
